<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AIMaidSan.Characters.Haru.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="AIMaidSan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AIMaidSan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AIMaidSan.Characters.Haru.Settings>
            <setting name="VoiceID" serializeAs="String">
                <value>58</value>
            </setting>
        </AIMaidSan.Characters.Haru.Settings>
        <AIMaidSan.Properties.Settings>
            <setting name="Name" serializeAs="String">
                <value>Haru</value>
            </setting>
        </AIMaidSan.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <AIMaidSan.Properties.Settings>
            <setting name="API" serializeAs="String">
                <value />
            </setting>
        </AIMaidSan.Properties.Settings>
    </userSettings>
</configuration>